In [1]:
import sqlite3

In [3]:
sqlite3.version

'2.6.0'

In [8]:
conn = sqlite3.connect('study.db')

In [9]:
cur=conn.cursor()

In [20]:

cur.execute('''create table daily_study(date integer primary key autoincrement,
            hours integer, 
            topic text)''')

In [25]:
cur.execute('insert into daily_study(date, hours, topic) values (1206,7,"python sqlite3")')
conn.commit()

conn.close()

In [26]:
conn = sqlite3.connect('study.db')
cur = conn.cursor()

In [27]:
cur.execute('select * from daily_study')
cur.fetchall()

[(1206, 7, 'python sqlite3'), (1207, 7, 'python sqlite3')]

In [30]:
cur.execute('insert into daily_study(date, hours, topic) values(?,?,?)', (1203,5,'deep_learning'))
conn.commit()

In [33]:
cur.execute('select * from daily_study')
for fet in cur.fetchall():
    print(fet)

(1203, 5, 'deep_learning')
(1206, 7, 'python sqlite3')
(1207, 7, 'python sqlite3')

In [38]:
conn = sqlite3.connect('study.db')
try :
    with conn:
        cur = conn.cursor()
#         cur.execute('insert into daily_study(date, hours, topic) values(?,?,?)',(1203,2,'machine learning'))
        conn.commit()

finally:
    conn.close()

In [51]:
conn = sqlite3.connect('study.db')

try : 
    with conn:
        cur = conn.cursor()
        cur.execute('select * from daily_study')
        for fet in cur.fetchall():
            print(fet)
finally:
    conn.close()

(1202, 2, 'machine_learning')
(1203, 5, 'deep_learning')
(1206, 7, 'english interview script writing')
(1207, 7, 'python sqlite3')

In [45]:
conn = sqlite3.connect('study.db')

try :
    with conn:
        cur = conn.cursor()
        cur.execute('insert into daily_study values(1201, 2, "sexplay")')
        conn.commit()
finally:
    conn.close()

In [47]:
conn = sqlite3.connect('study.db')

try:
    with conn:
        cur = conn.cursor()
        cur.execute('delete from daily_study where topic="sexplay" ')
        conn.commit()
        
finally:
    conn.close()

In [50]:
conn = sqlite3.connect('study.db')

try:
    with conn:
        cur = conn.cursor()
        cur.execute('update daily_study set topic="english interview script writing" where date=1206')
        conn.commit()
        
finally:
    conn.close()